* {
  font-family: "fira code";
}

html {
  font-size: 62.5%;
  font-family: "fira code";
}

body {
  font-size: 1.6rem;
  background-color: midnightblue;
  color: lightsteelblue
}

@media screen and (min-width: 1000px) {
  main {
  max-width: 100rem;
  }
}


a {
  color: white
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: lightsteelblue;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 0.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: yellowgreen;
}

h1 {
  font-size: 2.4rem;
  font-family: "Fira Code";
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: yellowgreen;
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
}

@media screen {
  a.sourceLine::before {
    text-decoration: underline;
  }
  div.sourceCode {
    overflow: auto;
  }
}

@media print {
  code.sourceCode {
    white-space: pre-wrap;
  }

  a.sourceLine {
    text-indent: -1em;
    padding-left: 1em;
  }
}

pre.numberSource a.sourceLine {
  position: relative;
  left: -4em;
}
pre.numberSource a.sourceLine::before {
  content: attr(title);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  pointer-events: all;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
  color: #aaaaaa;
}

pre.numberSource {
  margin-left: 3em;
  border-left: 1px solid #aaaaaa;
  padding-left: 4px;
}


/* syntax highlighting */

pre {
  background-color: black;
  border: solid 1px black;
  padding: 10px 10px;
  color: white;
  text-align: left;
}

a.sourceLine {
  display: inline-block;
  line-height: 1.25;
}
a.sourceLine {
  pointer-events: none;
  color: inherit;
  text-decoration: inherit;
}
a.sourceLine:empty {
  height: 1.2em;
}

.sourceCode {
  overflow-x: auto;
}

code.sourceCode {
  white-space: pre;
  position: relative;
  color: white;
}

div.sourceCode {
  margin: 1em 0;
}
pre.sourceCode {
  margin: 0;
}

code {
  color: greenyellow;
}

code span.al {
  color: #bfb5f4;
  font-weight: bold;
} /* Alert */
code span.er {
  color: #bfb5f4;
  font-weight: bold;
} /* Error */
code span.bn {
  color: greenyellow;
} /* BaseN */
code span.kw {
  font-weight: bold;
} /* Keyword */
code span.ot {
  color: #c0ea44;
} /* Other */
code span.cf {
  color: #c0ea44;
  font-weight: bold;
} /* ControlFlow */
code span.dt {
  color: #c0ea44;
} /* DataType */
code span.fu {
  color: #96bfff;
} /* Function */
code span.at {
  color: #96bfff;
} /* Attribute */
code span.ch {
  color: greenyellow;
} /* Char */
code span.im {
  color: #f5bdb0;
} /* Import */
code span.bu {
  color: #f5bdb0;
} /* BuiltIn */
code span.pp {
  color: #f4b5b5;
} /* Preprocessor */
code span.cn {
  color: #f5bdb0;
} /* Constant */
code span.do {
  color: #f5bdb0;
  font-style: bold;
} /* Documentation */
code span.va {
  color: #f5bdb0;
} /* Variable */
code span.op {
  color: #f5bdb0;
} /* Operator */
code span.co {
  color: #585858;
  font-style: italic;
} /* Comment */
code span.cv {
  color: #585858;
  font-weight: bold;
  font-style: italic;
} /* CommentVar */
code span.in {
  color: #585858;
  font-weight: bold;
  font-style: italic;
} /* Information */
code span.an {
  color: #585858;
  font-weight: bold;
  font-style: italic;
} /* Annotation */
code span.wa {
  color: #585858;
  font-weight: bold;
  font-style: italic;
} /* Warning */
code span.dv {
  color: greenyellow;
} /* DecVal */
code span.ex {
  color: greenyellow;
} /* Extension */
code span.fl {
  color: greenyellow;
} /* Float */
code span.sc {
  color: greenyellow;
} /* SpecialChar */
code span.vs {
  color: greenyellow;
} /* VerbatimString */
code span.ss {
  color: #21b452;
} /* SpecialString */
code span.st {
  color: #21b452;
} /* String */
